
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-lg-6 d-flex align-items-center ps-5">
      <div class="log-in-form ">
        <div class="logo mb-4">
          <img src="../assets/images/ntspl_logo.png" alt="Logo">
        </div>
        <h3>Welcome to Meeting Plus</h3>
        <p>Enter your email id to log in to your account</p>
        <div class="sign-up my-4">
            <label for="otp" class="otp">Enter 6 digit OTP<span>*</span></label>
            <br>
            <div class="inner-group">
              <!-- <input type="text" placeholder="Enter OTP" [(ngModel)]="otp"> -->
            <div id="inputs" class="inputs"  [formGroup]="myGroup">
              <input class="input" type="text" maxlength="1" formControlName="value1" />
              <input class="input" type="text" maxlength="1" formControlName="value2" />
              <input class="input" type="text" maxlength="1" formControlName="value3" />
              <input class="input" type="text" maxlength="1" formControlName="value4" />
              <input class="input" type="text" maxlength="1" formControlName="value5" />
              <input class="input" type="text" maxlength="1" formControlName="value6" />
            </div>
            </div>
        </div>
        <button class="sign-in-btn" (click)="signIn()">Verify</button>
    </div>
    </div>
    <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center text-white text-center">
      <div class="right-section">
        <div class="slider-section">
          <h2>Meeting Plus</h2>
          <h3>Where Meetings Become Meaningful</h3>
          <div class="meet-img mt-3">
            <img src="../assets/images/meeting.png" class="img-fluid" alt="Meeting Image">
          </div>
        </div>
        <p class="copyright">© 2024 NTSPL All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>

